body {
    font-family: Verdana, sans-serif;    
    justify-content: center;
    display: flex;
    margin: auto;
    padding: 0px;
}
h3{
    text-align: left;
}
.foto {
    float: right;
    width: 200px;
    margin-left: 25px;
    border: 1px solid darkgray;
}
.foto img {
    width: 100%;
}
.foto .kepalairas{
    text-align: center;
    font-style: italic;
}

.container {
    margin: 0 3px;
    padding: 0 10px 10px 10px;
}

h2, nav {
    margin: 10px -10px 10px -10px;
    padding: 15px 0 15px 15px;
    background-color: lightgray;
    font-weight: bold;
}

img {
    max-height: 400px;
}
dt{
    text-align: left;
}
dd {
    margin-left: 50px;
    text-align: left;
}

a {
    color:orange;
}

a:hover {
    text-decoration: none;  
    font-weight: bold;
    color:orange;
    
}

.kiemeles {
    font-size: larger;
}